
.main-header {
    width: 100%;
    padding: 0 20px;
    z-index: 99;
    background-color: #212121;
    color: white;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);





    }
.left {
    list-style-type: none;
    display: none;
    gap: 25px;

}
li {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.center {
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.right {
    display: flex;
    align-items: center;
    gap: 20px;

    }
.cart-icon {
    position: relative;
}
.cart-icon span {
    min-width: 20px;
    text-align: center;
    background: #8e2de2;
    padding: 2.5px;
    position: absolute;
    top: -5px;
    right: -12px;
    font-size: 12px;
    line-height: 1;
    border-radius: 10px;
}